DATABASE_URL="file:./database.sqlite"


# OAuth
OAUTH_REDIRECT_URL_BASE=http://localhost:3000/api/oauth/

# Discord // we can remove the discord implementation later, it was just a test
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=