@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #393e46;
  --background: #ededed;
  --primary: #abd8d3;
  --secondary: #126e82;
  --accent: #00aab3;
  /* font size*/

  /*--foreground: #171717;*/
}

@media (prefers-color-scheme: dark) {
  :root {
    /*--background: #0a0a0a;*/
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Noto Serif Vithkuqi', serif;
  --sm: 0.750rem;
  --base: 1rem;
  --xl: 1.333rem;
  --2xl: 1.777rem;
  --3xl: 2.369rem;
  --4xl: 3.158rem;
  --5xl: 4.210rem;

}
